.arrow
  width: 7px
  height: 7px
  transform: rotate(45deg) translateY(-40%)

  border-right: 1px solid $textColor
  border-bottom: 1px solid $textColor
  &-wrapper
    display: inline-block
    width: 12px
