.btn
  position: relative
  border-radius: 4px
  cursor: pointer
  user-select: none
  font-family: "SF Pro Text"
  font-weight: normal
  &-orange
    display: flex
    align-items: center
    justify-content: space-between
    background: $primary
    padding: 8px 16px
    color: $white
    & img
      margin-right: 8px
  &-bordered
    box-sizing: border-box
    border: 1px solid $lightgray
