.cart
	&-modal
		font-family: 'Inter'
		width: 420px
		padding-top: 32px
		& .title
			font-size: 32px
		& .total
			height: 72px
			position: absolute
			bottom: 0
			width: 100%
			&-inner
				padding: 12px 20px
				& .title
					font-size: 20px
					color: $primary
